DATABASE_URL="postgresql://postgres:postgres@localhost:5432/finanzas_personales?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/finanzas_personales?schema=public"
AUTH_SECRET="cambia-esto-por-un-secreto-largo-de-32-caracteres-minimo"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
INITIAL_ADMIN_EMAIL="oriolcasaponsaprat@gmail.com"
INITIAL_ADMIN_PASSWORD="Pelota.1"
INITIAL_ADMIN_NAME="Oriol Casa Ponsa Prat"
